@charset "UTF-8";

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-roman-webfont.woff2') format('woff2'),
    url('fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-bg: #fff;
  --color-fg: rgba(51,51,51,0.5);
  --color-fg-fix: rgba(51,51,51,0.7);
  --color-alpha-fg: 51,51,51;
  --color-anim: #f00;
  --color-anim-light: #ddd;
  --color-border: #aaa;
}

[data-theme="dark"] {
  --color-bg: #111;
  --color-fg: rgba(240,240,240,0.5);
  --color-fg-fix: rgba(240,240,240,0.7);
  --color-alpha-fg: 240,240,240;
  --color-anim: #f00;
  --color-anim-light: #666;
  --color-border: #444;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  cursor: none;
}

html,
body {
  /* height: 100%; */
}

::-moz-selection {
  color: var(--color-bg);
  background: rgba(var(--color-alpha-fg),1);
}

::selection {
  color: var(--color-bg);
  background: rgba(var(--color-alpha-fg),1);
}

body {
  width: 100%;
  font-family: "Crimson Text", Crimson, Garamond, Georgia, Times, serif;
  quotes: '«\00A0' '\00A0»' "“" "”";
  color: var(--color-fg);
  background: var(--color-bg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  font-size: 1.8rem;
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 2.6rem;
  }
}

a {
  color: var(--color-anim);
  text-decoration: none;
}

p {
  margin: 0;
  /* max-width: 66ch; */
  /* margin: 1.62em 0; */
  /* hyphens: auto; */
  /* hyphenate-limit-chars: 6 3 3; */
  /* hyphenate-limit-lines: 2; */
  /* hyphenate-limit-last: always; */
  /* hyphenate-limit-zone: 8%; */
}

.menu {
  z-index: 110;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  outline: none;
  text-align: center;
  width: 3em;
  height: 3em;
}

.container {
  width: 100%;
  max-width: 66ch;
  margin: 0 auto;
  padding: 0 3em;
}

.title {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 100;
  background: var(--color-bg);
}

.show {
  display: block;
}

.title__container {
  height: calc(100vh - 4em);
  height: calc(calc(var(--vh, 1vh) * 100) - 4em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 3em;
  color: var(--color-fg);
  box-shadow: 0px 0px 20px var(--color-anim-light);
  position: relative;
}

.title__link {
  cursor: none;
  text-decoration: none;
  text-align: center;
  padding: 0.3em;
  margin: 1em;
  color: var(--color-fg);
  box-shadow: 0px 0px 20px var(--color-anim-light);
}

.title__link:hover,
.title__link:focus,
.title__link:active {
  box-shadow: 0px 0px 20px var(--color-anim);
}

.title__info {
  position: absolute;
  bottom: 0;
}

@media (max-width: 55em) and (orientation: landscape) {
  .title__link {
    margin: 0.5em 0;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: none;
  outline: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

/* Modifications spécifiques */
.pese-nerfs .pese-nerfs__titre {
  height: 100%;
  min-height: calc(100vh - 4em);
  min-height: calc(calc(var(--vh, 1vh) * 100) - 4em);

  .texte__contenu {
    text-indent: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    padding: 0em;
  }
}

.texte {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: calc(100vh - 2em);
  min-height: calc(calc(var(--vh, 1vh) * 100) - 2em);
  background: var(--color-bg);
  margin: 2em 0;
  color: var(--color-fg);
  box-shadow: 0px 0px 20px var(--color-anim-light);

  &__contenu {
  padding: 2em;
  text-indent: 2em;
  }
}

.mot {
  &:hover {
    background-color: var(--color-bg);
    color: var(--color-bg);
  }

  &.redacted {
    background-color: var(--color-bg);
    color: var(--color-anim);
  }
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
  background: rgba(var(--color-alpha-fg),1);
  transition: all 0.4s linear;
  transition-property: background, transform;

  &--main {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    z-index: 1001;
    opacity: 1;
  }

  &--bg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 1000;
    opacity: 0.5;
  }

  &--interact {
    transform: translate(-50%, -50%) scale(1.5);
    background: var(--color-bg);
    opacity: 0.7;
  }

  &--click {
    transform: translate(-50%, -50%) scale(2);
  }
}

@media (hover: none) and (pointer: coarse) {
  .cursor {
    display: none;
  }
}

.interface {
  z-index: 110;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  height: calc(38vh + 70px);
  width: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  z-index: 110;
  text-align: center;
  display: inline-block;
  font-style: normal;
  position: absolute;
  width: 100%;
  height: 30px;
  margin: 0;
  outline: none;
  transition: all 0.5s linear;
  color: rgba(var(--color-alpha-fg),1);
}

.btn:hover,
.btn:focus,
.btn:active {
  outline: none;
  transform: rotate(360deg);
  transform-origin: center center;
  color: var(--color-anim);
}

.btn--menu {
  top: 0;
  left: 0;
}

.btn--dark {
  bottom: 0;
  left: 0;
}

/* Range input */
.level {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overscroll-behavior: contain;
  position: relative;
  width: 100%;
  height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.range {
  position: absolute;
  z-index: 120;
  display: inline-block;
  transform: rotate(270deg);
}

/* Source : MIT (Noah Blon) - https://codepen.io/noahblon/pen/OyajvN */
input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    overflow: hidden;
    height: 30px;
    width: 38vh;
    cursor: none;
    border-radius: 0;
}

::-webkit-slider-runnable-track {
    background: var(--color-anim-light);
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 30px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw var(--color-fg-fix);
    border: 2px solid var(--color-border);
}

::-moz-range-track {
    height: 30px;
    background: var(--color-anim-light);
}

::-moz-range-thumb {
    background: #fff;
    height: 30px;
    width: 20px;
    border: 3px solid var(--color-border);
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw var(--color-fg-fix);
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: var(--color-fg-fix);
}

::-ms-thumb {
    background: #fff;
    border: 2px solid var(--color-border);
    height: 30px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: var(--color-anim-light);
    color: transparent;
    height: 30px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

input[type=range]::-moz-focus-outer {
  cursor: none;
  border: 0;
}

input[type=range]:focus {
  outline: none;
}
