/* Import */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
     -moz-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
@charset "UTF-8";
@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-roman-webfont.woff2') format('woff2'),
    url('fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-bg: #fff;
  --color-fg: rgba(51,51,51,0.5);
  --color-fg-fix: rgba(51,51,51,0.7);
  --color-alpha-fg: 51,51,51;
  --color-anim: #f00;
  --color-anim-light: #ddd;
  --color-border: #aaa;
}
[data-theme="dark"] {
  --color-bg: #111;
  --color-fg: rgba(240,240,240,0.5);
  --color-fg-fix: rgba(240,240,240,0.7);
  --color-alpha-fg: 240,240,240;
  --color-anim: #f00;
  --color-anim-light: #666;
  --color-border: #444;
}
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
  cursor: none;
}
html,
body {
  /* height: 100%; */
}
::-moz-selection {
  color: #fff;
  color: var(--color-bg);
  background: rgba(51,51,51,1);
  background: rgba(var(--color-alpha-fg),1);
}
::selection {
  color: #fff;
  color: var(--color-bg);
  background: rgba(51,51,51,1);
  background: rgba(var(--color-alpha-fg),1);
}
body {
  width: 100%;
  font-family: "Crimson Text", Crimson, Garamond, Georgia, Times, serif;
  quotes: '«\00A0' '\00A0»' "“" "”";
  color: rgba(51,51,51,0.5);
  color: var(--color-fg);
  background: #fff;
  background: var(--color-bg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  font-size: 1.8rem;
}
a {
  color: #f00;
  color: var(--color-anim);
  text-decoration: none;
}
p {
  margin: 0;
  /* max-width: 66ch; */
  /* margin: 1.62em 0; */
  /* hyphens: auto; */
  /* hyphenate-limit-chars: 6 3 3; */
  /* hyphenate-limit-lines: 2; */
  /* hyphenate-limit-last: always; */
  /* hyphenate-limit-zone: 8%; */
}
.menu {
  z-index: 110;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  outline: none;
  text-align: center;
  width: 3em;
  height: 3em;
}
.container {
  width: 100%;
  max-width: 66ch;
  margin: 0 auto;
  padding: 0 3em;
}
.title {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: -moz-calc(1vh * 100);
  height: calc(1vh * 100);
  height: -moz-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  z-index: 100;
  background: #fff;
  background: var(--color-bg);
}
.show {
  display: block;
}
.title__container {
  height: -moz-calc(100vh - 4em);
  height: calc(100vh - 4em);
  height: -moz-calc(-moz-calc(1vh * 100) - 4em);
  height: calc(calc(1vh * 100) - 4em);
  height: -moz-calc(-moz-calc(var(--vh, 1vh) * 100) - 4em);
  height: calc(calc(var(--vh, 1vh) * 100) - 4em);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 3em;
  color: rgba(51,51,51,0.5);
  color: var(--color-fg);
  -webkit-box-shadow: 0px 0px 20px #ddd;
          box-shadow: 0px 0px 20px #ddd;
  -webkit-box-shadow: 0px 0px 20px var(--color-anim-light);
          box-shadow: 0px 0px 20px var(--color-anim-light);
  position: relative;
}
.title__link {
  cursor: none;
  text-decoration: none;
  text-align: center;
  padding: 0.3em;
  margin: 1em;
  color: rgba(51,51,51,0.5);
  color: var(--color-fg);
  -webkit-box-shadow: 0px 0px 20px #ddd;
          box-shadow: 0px 0px 20px #ddd;
  -webkit-box-shadow: 0px 0px 20px var(--color-anim-light);
          box-shadow: 0px 0px 20px var(--color-anim-light);
}
.title__link:hover,
.title__link:focus,
.title__link:active {
  -webkit-box-shadow: 0px 0px 20px #f00;
          box-shadow: 0px 0px 20px #f00;
  -webkit-box-shadow: 0px 0px 20px var(--color-anim);
          box-shadow: 0px 0px 20px var(--color-anim);
}
.title__info {
  position: absolute;
  bottom: 0;
}
button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: none;
  outline: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}
/* Modifications spécifiques */
.pese-nerfs .pese-nerfs__titre {
  height: 100%;
  min-height: -moz-calc(100vh - 4em);
  min-height: calc(100vh - 4em);
  min-height: -moz-calc(-moz-calc(1vh * 100) - 4em);
  min-height: calc(calc(1vh * 100) - 4em);
  min-height: -moz-calc(-moz-calc(var(--vh, 1vh) * 100) - 4em);
  min-height: calc(calc(var(--vh, 1vh) * 100) - 4em);
}
.pese-nerfs .pese-nerfs__titre .texte__contenu {
    text-indent: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    padding: 0em;
  }
.texte {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-height: -moz-calc(100vh - 2em);
  min-height: calc(100vh - 2em);
  min-height: -moz-calc(-moz-calc(1vh * 100) - 2em);
  min-height: calc(calc(1vh * 100) - 2em);
  min-height: -moz-calc(-moz-calc(var(--vh, 1vh) * 100) - 2em);
  min-height: calc(calc(var(--vh, 1vh) * 100) - 2em);
  background: #fff;
  background: var(--color-bg);
  margin: 2em 0;
  color: rgba(51,51,51,0.5);
  color: var(--color-fg);
  -webkit-box-shadow: 0px 0px 20px #ddd;
          box-shadow: 0px 0px 20px #ddd;
  -webkit-box-shadow: 0px 0px 20px var(--color-anim-light);
          box-shadow: 0px 0px 20px var(--color-anim-light);
}
.texte__contenu {
  padding: 2em;
  text-indent: 2em;
  }
.mot:hover {
    background-color: #fff;
    background-color: var(--color-bg);
    color: #fff;
    color: var(--color-bg);
  }
.mot.redacted {
    background-color: #fff;
    background-color: var(--color-bg);
    color: #f00;
    color: var(--color-anim);
  }
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  background: rgba(51,51,51,1);
  background: rgba(var(--color-alpha-fg),1);
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  -o-transition-property: background, transform;
  -moz-transition-property: background, transform, -moz-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform, -moz-transform;
}
.cursor--main {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    z-index: 1001;
    opacity: 1;
  }
.cursor--bg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 1000;
    opacity: 0.5;
  }
.cursor--interact {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
       -moz-transform: translate(-50%, -50%) scale(1.5);
        -ms-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
    background: #fff;
    background: var(--color-bg);
    opacity: 0.7;
  }
.cursor--click {
    -webkit-transform: translate(-50%, -50%) scale(2);
       -moz-transform: translate(-50%, -50%) scale(2);
        -ms-transform: translate(-50%, -50%) scale(2);
            transform: translate(-50%, -50%) scale(2);
  }
.interface {
  z-index: 110;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: -moz-calc(38vh + 70px);
  height: calc(38vh + 70px);
  width: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn {
  z-index: 110;
  text-align: center;
  display: inline-block;
  font-style: normal;
  position: absolute;
  width: 100%;
  height: 30px;
  margin: 0;
  outline: none;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color: rgba(51,51,51,1);
  color: rgba(var(--color-alpha-fg),1);
}
.btn:hover,
.btn:focus,
.btn:active {
  outline: none;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transform-origin: center center;
     -moz-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  color: #f00;
  color: var(--color-anim);
}
.btn--menu {
  top: 0;
  left: 0;
}
.btn--dark {
  bottom: 0;
  left: 0;
}
/* Range input */
.level {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  position: relative;
  width: 100%;
  height: 38vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.range {
  position: absolute;
  z-index: 120;
  display: inline-block;
  -webkit-transform: rotate(270deg);
     -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
/* Source : MIT (Noah Blon) - https://codepen.io/noahblon/pen/OyajvN */
input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    overflow: hidden;
    height: 30px;
    width: 38vh;
    cursor: none;
    border-radius: 0;
}
::-webkit-slider-runnable-track {
    background: #ddd;
    background: var(--color-anim-light);
}
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 30px;
    background: #fff;
    -webkit-box-shadow: -100vw 0 0 100vw rgba(51,51,51,0.7);
            box-shadow: -100vw 0 0 100vw rgba(51,51,51,0.7);
    -webkit-box-shadow: -100vw 0 0 100vw var(--color-fg-fix);
            box-shadow: -100vw 0 0 100vw var(--color-fg-fix);
    border: 2px solid #aaa;
    border: 2px solid var(--color-border);
}
::-moz-range-track {
    height: 30px;
    background: #ddd;
    background: var(--color-anim-light);
}
::-moz-range-thumb {
    background: #fff;
    height: 30px;
    width: 20px;
    border: 3px solid #aaa;
    border: 3px solid var(--color-border);
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw rgba(51,51,51,0.7);
    box-shadow: -100vw 0 0 100vw var(--color-fg-fix);
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
::-ms-fill-lower {
    background: rgba(51,51,51,0.7);
    background: var(--color-fg-fix);
}
::-ms-thumb {
    background: #fff;
    border: 2px solid #aaa;
    border: 2px solid var(--color-border);
    height: 30px;
    width: 20px;
    box-sizing: border-box;
}
::-ms-ticks-after {
    display: none;
}
::-ms-ticks-before {
    display: none;
}
::-ms-track {
    background: #ddd;
    background: var(--color-anim-light);
    color: transparent;
    height: 30px;
    border: none;
}
::-ms-tooltip {
    display: none;
}
input[type=range]::-moz-focus-outer {
  cursor: none;
  border: 0;
}
input[type=range]:focus {
  outline: none;
}
@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: -moz-calc(18px + (26 - 18) * ((100vw - 300px) / (1280 - 300)));
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1280 - 300)));
  }
}
@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 2.6rem;
  }
}
@media (max-width: 55em) and (orientation: landscape) {
  .title__link {
    margin: 0.5em 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  .cursor {
    display: none;
  }
}
